@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';
@import '../styles/theme.css';
@import '../styles/body.css';
@import '../styles/scaleIn_B.css';
@import '../styles/utilities.css';
/* 地圖頁面sidebar景片滾動條隱藏 */
@import '../styles/mapsidebar.css';
@import '../styles/scrollerBarHidden.css';